# GENERAL
.DS_Store
.idea
.vscode
*.iml
*.log
*.tmp
*.swp

# BUILD OUTPUT
/build/
/out/
/target/
/bin/
/.gradle/
/gradle-build-cache/

# ENV & CONFIG FILES
.env
.env.example

# GIT & DOCS
.git
.gitignore
.gitattributes
README.md
HELP.md

# DOCKER / COMPOSE FILES
docker-compose*.yml
Dockerfile

# TESTS
/src/test/